.atom-build.json
*/enabled/*
.DS_Store
custom/*
!custom/example.bash
.rvmrc
aliases/custom.aliases.bash
completion/custom.completion.bash
lib/custom.bash
plugins/custom.plugins.bash
*.swp
.*.un~
bats
.idea
*.sublime-workspace
*.sublime-project
enabled/*
/enabled
tmp/
home/.config/iterm2/AppSupport
home/.config/bash/local
home/.config/zsh/local
home/.config/zsh/.zcompdump*
home/.config/zsh/.zsh_sessions
home/.config/git/config.local
home/.config/emacs
