.atom-build.json
*/enabled/*
.DS_Store
custom/*
!custom/example.bash
.rvmrc
aliases/custom.aliases.bash
completion/custom.completion.bash
lib/custom.bash
plugins/custom.plugins.bash
*.swp
.*.un~
bats
.idea
*.sublime-workspace
*.sublime-project
enabled/*
/enabled
tmp/
.config/bash/local
.config/zsh/local
.config/zsh/.zcompdump*
.config/zsh/.zsh_sessions
.config/git/config.local
.config/emacs/
.config/gcloud/
.config/packer/
.config/uv/
